@import "app/styles/colors.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
