@import "app/styles/colors.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.product-sneak-bar {
  border-top: 3px solid green;
}
